<% if @poll.errors.any? %>
  <div class="row">
    <div class="col-sm-12">
      <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@poll.errors.count, "error") %>.
        </div>
        <ul>
          <% @poll.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>