<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <h2>Your Polls</h2>

    <br>
    <br>

    <%= link_to new_poll_path do %>
      <button class="btn btn-info">
        <span class="larger">Create a Poll</span>
      </button>
    <% end %>

    <br>
    <br>
    
  </div>

  <div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Poll</th>
            <th>Group Stage Score</th>
            <th>Advance From Group</th>
            <th>Quarterfinal Score</th>
            <th>Semifinal Score</th>
            <th>Championship Score</th>
          </tr>
        </thead>

        <tbody>
          <% @polls.each do |poll| %>
            <tr>
              <td><%= poll.user.name %></td>
              <td><%= link_to poll.name, poll %></td>
              <td><%= poll.score %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>